<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="SeqUrl" value="http://localhost:5431"/>
    <add key="RulesIndexPath" value="c:\code\ssw\RulesIndexData" />
    <add key="SharePointUrl" value="https://rules.ssw.com.au" />
  </appSettings>

</configuration>